{% extends "layouts/main.html" %}

{% set pageName = "Leo Final Test" %}
{% set serviceName = "Approvals and Digital Business Cases" %}
{% set serviceUrl = "/e2e-journey" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#" class="govuk-back-link">Back</a>

    <p class="govuk-body govuk-!-margin-bottom-1">COSC-00318</p>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Leo Final Test</h1>

    <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-margin-bottom-2">Contents</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="#">Overview</a></li>
          <li><a class="govuk-link" href="#">Linked cases</a></li>
          <li><a class="govuk-link" href="#">Additional contacts</a></li>
          <li><a class="govuk-link" href="#">Messaging</a></li>
          <li><a class="govuk-link" href="#">Case history</a></li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <ul class="govuk-list govuk-!-text-align-right">
          <li><a class="govuk-link" href="#">Download this case (XLS)</a></li>
          <li><a class="govuk-link" href="#">Download this case (PDF)</a></li>
          <li><a class="govuk-link" href="#">Download this case (Doc)</a></li>
          <li><a class="govuk-link" href="#">Close case</a></li>
          <li><a class="govuk-link" href="#">Copy link to case</a></li>
        </ul>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

    <h2 class="govuk-heading-l">Overview</h2>

    <p class="govuk-body">You have completed 4 of 12 sections</p>

    <ol class="govuk-list app-overview-list">
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Funding request introduction</a><br>
            <span class="govuk-body govuk-!-font-size-16">Funding request introduction</span>
          </div>
          <strong class="govuk-tag govuk-tag--green">Completed</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Funding Request Type</a><br>
            <span class="govuk-body govuk-!-font-size-16">Find the right request for your situation</span>
          </div>
          <strong class="govuk-tag govuk-tag--green">Completed</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Strategy, Problem Statement and Users</a><br>
            <span class="govuk-body govuk-!-font-size-16">Aligned to the Strategic Case</span>
          </div>
          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Options Analysis, Benefits and Economic Model</a><br>
            <span class="govuk-body govuk-!-font-size-16">Aligned to the Economic Case</span>
          </div>
          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Commercial Approach</a><br>
            <span class="govuk-body govuk-!-font-size-16">Aligned to the Commercial Case</span>
          </div>
          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Financial Analysis and Accounting</a><br>
            <span class="govuk-body govuk-!-font-size-16">Aligned to the Financial Case</span>
          </div>
          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Priorities for Next Phase</a><br>
            <span class="govuk-body govuk-!-font-size-16">New section specifically designed for incremental cases</span>
          </div>
          <strong class="govuk-tag govuk-tag--green">Completed</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">People, Departments and Governance</a><br>
            <span class="govuk-body govuk-!-font-size-16">Aligned to the Management case</span>
          </div>
          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Management and Delivery Approach</a><br>
            <span class="govuk-body govuk-!-font-size-16">Aligned to the Management case</span>
          </div>
          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Compliance and Impact assessment</a><br>
            <span class="govuk-body govuk-!-font-size-16">New dedicated section</span>
          </div>
          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Transition to live Services</a><br>
            <span class="govuk-body govuk-!-font-size-16">New dedicated section</span>
          </div>
          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
        </div>
      </li>
      <li class="app-overview-list__item">
        <div class="app-overview-list__row">
          <div>
            <a class="govuk-link" href="#">Upload Documents</a><br>
            <span class="govuk-body govuk-!-font-size-16">Additional documents for all sections</span>
          </div>
          <strong class="govuk-tag govuk-tag--green">Completed</strong>
        </div>
      </li>
    </ol>

    <p class="govuk-body govuk-!-margin-top-6">
      <a class="govuk-link" href="#">Return to dashboard</a>
    </p>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<style>
  .app-overview-list__item {
    padding: 18px 0;
    border-bottom: 1px solid #b1b4b6;
  }

  .app-overview-list__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
  }
</style>
{% endblock %}

